# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
env/
ENV/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# VSCode settings
.vscode/